*
!.git-prompt.sh
!.flake8
!.vim
!.vim/**
*.swp
*.netrwhist
!.profile
!.bash_profile
!.bashrc
!.bash_functions
!.bash_functions/*
.bash_functions/*.swp
!.local
!.local/bin
!.local/bin/amm
!.emacs.d
!.emacs.d/init.el
