*
!.emacs.d/*
.emacs.d/*~
.emacs.d/*#
.emacs.d/ido.last
.emacs.d/recentf
!bootstrap.sh
!.stylua.toml
!.gitattributes
!Microsoft.PowerShell_profile.ps1
!install.ps1
!.fzf-mine.sh
!.git-prompt.sh
!.flake8
!.vim
!.vim/**
*.swp
*.netrwhist
!.profile
!.bash_profile
!.bashrc
!.bash_functions
!.bash_functions/*
.bash_functions/*.swp
!.emacs.d
!.emacs.d/init.el
!.emacs.d/keybindings.el
!.config
!.config/nvim
!.config/nvim/*
!.config/nvim/**
.config/nvim/plugin/packer_compiled.lua
!.bash_completions
!.bash_completions/*
!.config/alacritty
!.config/alacritty/*
!.config/kitty
!.config/kitty/*
!.config/kitty/themes
!.config/kitty/themes/*
!.local
!.local/bin
!.local/bin/amm
!.local/bin/abbrev-pwd
!.local/bin/ff
!.local/bin/sqlfmt
!.local/bin/trunc
!.local/bin/pywhere
!.local/bin/bash-prompt
!.local/bin/fix-sound
!.local/bin/flash-model-f
!.local/bin/mail
!.local/bin/install-poetry
!.local/bin/install-cs
!.local/bin/install-fzf
!.local/bin/install-hugo
!.local/bin/install-jabba
!.local/bin/install-nvim
!.local/bin/install-nvm
!.local/bin/icat
!.local/bin/install-golang
!.local/bin/install-cargo
!.local/bin/ilite
!.local/bin/install-ctags
!.local/bin/yn-prompt
!.local/bin/install-julia
!.local/bin/install-vim
!.local/bin/nvim-packersync
!.local/bin/install-emacs
!.local/bin/install-emacs-macos
!.doom.d/*
!.doom.d
