[submodule ".vim/pack/morhetz/start/gruvbox"]
	path = .vim/pack/morhetz/opt/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule ".vim/pack/tpope/start/vim-commentary"]
	path = .vim/pack/tpope/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule ".vim/pack/tpope/start/vim-surround"]
	path = .vim/pack/tpope/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/pack/tpope/start/vim-fugitive"]
	path = .vim/pack/tpope/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/pack/tpope/start/vim-sensible"]
	path = .vim/pack/tpope/start/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule ".vim/pack/romainl/start/Apprentice"]
	path = .vim/pack/romainl/opt/Apprentice
	url = https://github.com/romainl/Apprentice
[submodule ".vim/pack/cespare/start/vim-toml"]
	path = .vim/pack/cespare/start/vim-toml
	url = https://github.com/cespare/vim-toml
[submodule ".vim/pack/LeonB/start/vim-nginx"]
	path = .vim/pack/LeonB/opt/vim-nginx
	url = https://github.com/LeonB/vim-nginx
[submodule ".vim/pack/JuliaEditorSupport/opt/julia-vim"]
	path = .vim/pack/JuliaEditorSupport/opt/julia-vim
	url = https://github.com/JuliaEditorSupport/julia-vim
[submodule ".config/nvim/pack/vim-airline/start/vim-airline-themes"]
	path = .config/nvim/pack/vim-airline/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule ".vim/pack/vim/start/colorschemes"]
	path = .vim/pack/vim/start/colorschemes
	url = https://github.com/vim/colorschemes
[submodule ".vim/pack/cocopon/start/iceberg.vim"]
	path = .vim/pack/cocopon/opt/iceberg.vim
	url = https://github.com/cocopon/iceberg.vim
[submodule ".vim/pack/arcticicestudio/start/nord-vim"]
	path = .vim/pack/arcticicestudio/opt/nord-vim
	url = https://github.com/arcticicestudio/nord-vim
[submodule ".local/share/nvim/site/pack/packer/start/packer.nvim"]
	path = .config/nvim/pack/wbthomason/start/packer.nvim
	url = https://github.com/wbthomason/packer.nvim
