*
!.bash_completion
!.bash_completion/*
!.bash_functions
!.bash_functions/*
!.bash_profile
!.bash_aliases
!.bashrc
!.condarc
!.config
!.config/alacritty
!.config/alacritty/*
!.config/kitty
!.config/kitty/*
!.config/kitty/themes
!.config/kitty/themes/*
!.flake8
!.git-prompt.sh
!.gitattributes
!.local
!.local/bin
!.local/bin/abbrev-pwd
!.local/bin/amm
!.local/bin/ff
!.local/bin/fix-sound
!.local/bin/flash-model-f
!.local/bin/icat
!.local/bin/ilite
!.local/bin/install-cargo
!.local/bin/install-cs
!.local/bin/install-fzf
!.local/bin/install-nvim
!.local/bin/install-nvm
!.local/bin/install-poetry
!.local/bin/install-uv
!.local/bin/install-vim
!.local/bin/mail
!.local/bin/pywhere
!.local/bin/sqlfmt
!.local/bin/trunc
!.local/bin/yn-prompt
!.profile
!.screenrc
!.stylua.toml
!.vim
!.vim/**
!Microsoft.PowerShell_profile.ps1
!bootstrap.sh
*.netrwhist
*.swp
.bash_functions/*.swp
